<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Layout</title>
  </head>
  <body>
    <header class="header">
      <div class="contenedor">
        <div class="header__menu--navegacion">
          <h2 class="header__logo">Header Logo</h2>

          <nav class="header__enlaces">
            <a href="#">Header Link one</a>
            <a href="#">Header Link two</a>
            <a href="#">Header Link three</a>
          </nav>
        </div>

        <div class="hedaer__contenido">
          <div class="header__informacion">
            <h1>
              This Website is <br />
              awesome
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
              vero? Consequatur nulla voluptatem provident, reiciendis rerum,
              modi vero tempora odio fugiat sed recusandae praesentium mollitia
              veniam atque? Consectetur, quas dolorem!
            </p>
            <a href="#" class="boton">Sign Up</a>
          </div>
          <div class="header__img"><img src="img/1.jpg" alt="imagen-2" /></div>
        </div>
      </div>
    </header>

    <main>
      <section class="section-1">
        <h2 class="section-1__titulo">Some Random Information</h2>
        <div class="grid">
          <div class="item-1">
            <div class="item"></div>
            <p class="item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="item-2">
            <div class="item"></div>
            <p class="item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="item-3">
            <div class="item"></div>
            <p class="item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="item-4">
            <div class="item"></div>
            <p class="item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </section>

      <section class="section-2">
        <div class="contenedor__section-2">
          <div class="centrado">
            <p class="contenido">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis molestiae autem repellat eveniet. Mollitia incidunt
              voluptate illo tenetur accusantium? Debitis provident voluptatibus
              blanditiis laborum magni accusamus aliquam inventore, officiis
              eligendi.
            </p>
          </div>

          <div class="left">
            <blockquote>
              <footer>-Thor, God of Thunder</footer>
            </blockquote>
          </div>
        </div>
      </section>
      <div class="contenedor">
        <section class="section-3">
          <div class="contenedor__section--3">
            <div class="section__3--info">
              <h3>Callto action! it's time</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                beatae dolore unde fugit maxime culpa
              </p>
            </div>
            <a href="#" class="btn__section--3">Sign Up</a>
          </div>
        </section>
      </div>
    </main>

    <footer class="footer">Copyright .&copy; Wilian Mariñez 2024</footer>
  </body>
</html>
